amqp==1.4.9
anyjson==0.3.3
asgiref==3.7.2
attrs==21.4.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
billiard==3.3.0.23
cachetools==5.3.1
celery==3.1.26.post2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
Django==4.0
django-celery==3.3.1
django-rest-framework-mongoengine==3.4.1
django-unique-audit==0.0.1
djangorestframework==3.14.0
dnspython==2.4.2
google-api-core==2.11.1
google-api-python-client==2.97.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.60.0
hmd-lang-audit==0.1.3
hmd-meta-types==0.2.87
hmd-schema-loader==0.2.35
httplib2==0.22.0
idna==3.4
iLens-audit-Framework==0.1
importlib-resources==6.0.1
jsonschema==4.4.0
KL-Audit-support==1.2
KL-Audit-supportV1.2==1.2
KL-Audit-supportV3.9==1.0
kombu==3.0.37
latexcodec==2.0.1
mongoengine==0.27.0
npm-audit-checkmk==0.1.0
oauth2client==4.1.3
protobuf==4.24.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybtex==0.24.0
PyDrive==1.3.1
pymongo==4.4.1
pyparsing==3.1.1
pyrsistent==0.18.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
test-audit-dog==0.0.1
typing-extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.4
zipp==3.16.2
