amqp==5.1.1
asgiref==3.7.2
backports.zoneinfo==0.2.1
billiard==4.1.0
celery==5.3.1
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==4.2.4
django-crum==0.7.9
django-field-audit==1.2.6
django-ipware==5.0.0
django-simple-audit==0.1.22
eox-audit-model==2.0.0
jsonfield==3.1.0
KL-Audit-supportV3.8==1.0
kombu==5.3.1
npm-audit-checker==0.0.1
prompt-toolkit==3.0.39
python-dateutil==2.8.2
six==1.16.0
sparing-easy-audit==1.2
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2023.3
vine==5.0.0
wcwidth==0.2.6
